@use "../../foundation/color" as c;
@use "../../foundation/breakpoint" as b;

.c-btn {
  // ブログ詳細ボタン
  &__detail {
    height: 30px;
    width: 80px;
    &__txt {
      color: c.$white;
    }
  }

  // お問い合せボタン
  &__inform {
    color: c.$darktext;
    font-size: 2.4rem;
    font-weight: bold;
    @include b.pc {
      margin-right: 30px;
      width: 120px;
    }
  }
}

// ハンバーガーメニュー
.c-btn__hamburger {
  position: relative; /*ボタン内側の基点となるためrelativeを指定*/
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  @include b.pc {
    display: none;
  }
}

/*ボタン内側*/
.c-btn__hamburger .c-btn__hamburger__area {
  transition: all 0.7s; /*アニメーションの設定*/
  width: 70px;
  height: 70px;
  top: 0;
}

.c-btn__hamburger span {
  display: inline-block;
  transition: all 0.1s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: c.$darktext;
  width: 45%;
}

.c-btn__hamburger span:nth-of-type(1) {
  top: 23px;
}

.c-btn__hamburger span:nth-of-type(2) {
  top: 33px;
}

.c-btn__hamburger span:nth-of-type(3) {
  top: 43px;
}

/*activeクラスが付与されると .c-btn__hamburger__areaが360度回転し、その中の線が回転して×に*/
.c-btn__hamburger.active .c-btn__hamburger__area {
  transform: rotate(540deg);
}

.c-btn__hamburger.active span:nth-of-type(1) {
  top: 27px;
  left: 24px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.c-btn__hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.c-btn__hamburger.active span:nth-of-type(3) {
  top: 39px;
  left: 24px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

//メニューボタンデザイン
.c-btn--menu_design {
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  padding: 15px 50px;
  background-color: #ffffff;
  color: #000000;
  border: #000000 solid 2px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transition: 0.2s;

  @include b.pc {
    margin-right: 20px;
    padding: 10px 20px;
    background-color: c.$blogbox-light;
    text-decoration: none;
  }
}

/* マウスオーバー時 */
.c-btn--menu_design:hover {
  box-shadow: 0 15px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  cursor: pointer;
}

.c-btn--menu {
  padding-top: 120px;
  @include b.pc {
    display: flex;
    padding-top: 0px;
    margin-left: auto;
    margin-bottom: 35px;
  }
}
.c-btn--menu > li {
  width: 100%;
  margin-top: 35px;
  text-align: center;
  list-style: none;
}

//ブログ一覧ボタン
.c-btn--blog {
  list-style: none;
}

.c-btn--blog > li {
  margin-right: 20px;
}

.c-btn--blog > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem;
  width: 200px;
  color: #2285b1;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid #a0c4d3;
  border-radius: 10px;
  margin-top: 20px;
  text-decoration: none;
}

.c-btn--blog > li > a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #2285b1;
  border-right: 3px solid #2285b1;
  transform: rotate(45deg);
}

.c-btn--blog > li > a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
}

.c-btn--blog > li > a:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}
