@use "../../foundation/color" as c;

.c-skill {
  list-style-type: none;
  &__list {
    width: 80%;
    height: 400px;
    margin-left: 10%;
    margin-bottom: 80px;
    background-color: c.$white;

    &__ttl {
      font-size: 2.4rem;
      font-weight: bold;
      text-align: center;
    }

    &__img {
      width: 30%;
      height: 30%;
    }

    &__layout {
      display: flex;
      justify-content: center;
      padding: 40px 0 40px 0;
    }
  }
}
