@use "../../foundation/color" as c;
@use "../../foundation/" as b;

.p-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 12000;
  background-color: c.$blogbox-light;

  &--position {
    display: flex;
    justify-content: flex-end;
  }

  &__layout {
    @include b.pclow {
      display: none;
    }
  }
}
