@use "../../foundation/color" as c;

.p-news {
  height: 200px;
  width: 80%;
  border: 4px solid;
  margin-left: 10%;
  background-color: c.$white;
  padding-top: 30px;

  &__ttl {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }
  &__txt {
    text-align: center;
    padding-top: 20px;
  }
}
