@use "../../foundation/color" as c;

.p-profile {
  margin-top: 60px;
  padding: 60px;
  height: auto;
  background-color: c.$blogbox-light;

  &__img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  }

  &__box {
    padding-top: 60px;
  }
}

.p-profile > p {
  font-size: 1.6rem;
}
